<!DOCTYPE html>
<!----------------------------------------------------
* Project:     Klinika_Local
* Filename:    NyForm_09_ssanie.html
* Encoding:    UTF-8
* Created:     2016-08-06
*
* Author       Bartosz M. Lewiński <jabarti@wp.pl>
------------------------------------------------------>
<div class="form-group form-buffer-pa">
    <h2>Mechanizm ssania </h2>
    <div class="form-group">
        <label class="col-sm-3 control-label">Otwieranie ust</label>
        <div class="radio col-sm-2" >
            <label><input type="radio"  name="otwieranie_ust" value="0" >wystarczające</label>
        </div>
        <div class="radio col-sm-2">
            <label><input type="radio"  name="otwieranie_ust" value="1">niewystarczjące</label>
        </div>
        <p class="col-sm-12"></p>
        <label class="col-sm-3 control-label">Ułożenie ust</label>
        <div class="radio col-sm-2" >
            <label><input type="radio"  name="ulozenie_ust" value="0" >wywinięte</label>
        </div>
        <div class="radio col-sm-2">
            <label><input type="radio"  name="ulozenie_ust" value="1">wciągnięte</label>
        </div>
        <p class="col-sm-12"></p>
        <label class="col-sm-3 control-label">Ułożenie języka</label>
        <div class="radio col-sm-2" >
            <label><input type="radio" name="ulozenie_jezyka" value="0" >do przodu</label>
        </div>
        <div class="radio col-sm-2">
            <label><input type="radio" name="ulozenie_jezyka" value="1">cofnięty</label>
        </div>
        <p class="col-sm-12"></p>
        <label class="col-sm-3 control-label">Ruchy kąsająe</label>
        <div class="radio col-sm-2" >
            <label><input type="radio"  name="ruchy_kasajace" value="0" >nieobecne</label>
        </div>
        <div class="radio col-sm-2">
            <label><input type="radio"  name="ruchy_kasajace" value="1">obecne</label>
        </div>
        <p class="col-sm-12"></p>
        <label class="col-sm-3 control-label">Ruchy ssące</label>
        <div class="radio col-sm-2" >
            <label><input type="radio"  name="ruchy_ssace" value="0" >głębokie</label>
        </div>
        <div class="radio col-sm-2">
            <label><input type="radio"  name="ruchy_ssace" value="1">płytkie</label>
        </div>
        <p class="col-sm-12"></p>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Ocena karmienia przy piersi</label>
        <div class="col-sm-7">
            <textarea class="form-control" placeholder="Ocena karmienia przy piersi" name="ocena_karmienie_piers"></textarea>
        </div>
    </div>
</div>

