<!DOCTYPE html>
<div class="form-group form-buffer-pa">
    <h2>Dane Formularza </h2>
    <div class="form-group">
        <label class="col-sm-3 control-label">Data utworzenia</label>
        <div class="col-sm-2">
            <!--<input type="date" name="data_utworzenia" 
                   id="data_utworzenia" min="2000-01-01" max="2018-12-31" required 
                   data-toggle="popover" data-trigger="hover" data-content="Pole obowiązkowe. Zakres dat: 2000/01/01 do 2018/12/31"
                   /><!-- -->
            <input type="text" name="data_utworzenia" id="data_utworzenia" required/>
        </div>    

        <label class="col-sm-1 control-label">ID Wpisu</label>
        <div class="col-sm-6">
            <div class="col-sm-3">                                
                <!--input type="text" placeholder="nr wpisu" name="ID_Wpisu_nr" id="ID_Wpisu_nr" class="form-control" data-toggle="popover" data-trigger="hover" data-content="Jeśli nic nie wpisane, nr formularza automatyczny, kolejny w roku."--> 
                <input type="text" placeholder="nr wpisu" name="ID_Wpisu_nr" id="ID_Wpisu_nr" class="form-control" > 
            </div>
            <div class="col-sm-1">
                <span>/</span>
            </div>
            <div class="col-sm-3">
                <input id="rokFormularza" class="form-control" name="rokFormularza" type="text" disabled >
            </div>
        </div>
    </div>
</div>                      

