*~
*.exe
*.[oa]
*.eap
*.mwb
*.mwb.bak
*.rar
*.zip
*.z7
*.sql
codecept*
js_source/TRY_Map/*
SQL
error_log
errors
errors/error_log*
nbproject
DB_Connection.php
DB/*
FTP_Connection.php
ExternalResources/Oracle_modeler
ExternalResources/Notes
tests
tests/_output/*
TEST_DATA/*