<!DOCTYPE html>

<script src="Controllers/MenuController.js" type="text/javascript"></script>
<script src="Controllers/LoginController.js" type="text/javascript"></script>
<!--<div  class="container"><!-- -->
    <div class="row">
        <div class="col-md-12" style="background-color: #A1F200;"><!-- -->
            <!--div class="col-md-12 affix" style="background-color: #A1F200;"><!-- -->
            <nav>
                <div class="nav nav-pills">
                    <button id='toNewForm' class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Nowy Formularz</button> 
                    <button id='toLista' class="btn btn-primary" formtarget="_blank"><span class="glyphicon glyphicon-th-list"></span> Lista Formularzy</button> 
                    <button id='toAddSzpital' class="btn btn-primary" formtarget="_blank"><span class="glyphicon glyphicon-plus"></span> Dodaj Szpital</button> 
                    <button id='toListaSzpitali' class="btn btn-primary" formtarget="_blank"><span class="glyphicon glyphicon-th-list"></span> Lista Szpitali</button> 
                    <button id='toListMothers' class="btn btn-primary" formtarget="_blank"><span class="glyphicon glyphicon-th-list"></span> Lista Matek</button> 
                    <!--button id='toEdit' class="btn btn-primary" formtarget="_blank">Edycja</button>  <!-- -->
                    <button id="buttLogOut" class="btn btn-primary pull-right" ><span class="glyphicon glyphicon-log-out"></span> LOG OUT</button>  <!-- -->
                    <button id="buttChangeCrud" class="btn btn-primary pull-right" formtarget="_blank"><span class="glyphicon glyphicon-user"></span> Dane Użytkownika</button>   <!-- -->
                    <!--button class="btn btn-primary pull-right" onclick="window.location.href='/Svenska'">Do svenska</button> <!-- -->
                </div>
            </nav>
        </div>
    </div>
<!--</div><!-- -->


