<!DOCTYPE html>
<!----------------------------------------------------
* Project:     Klinika_Local
* Filename:    NyForm_11_zalecenia.html
* Encoding:    UTF-8
* Created:     2016-08-06
*
* Author       Bartosz M. Lewiński <jabarti@wp.pl>
------------------------------------------------------>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="form-group form-buffer-pa">
            <h2>Zalecenia</h2>
            <div class="form-group">
                <label class="col-sm-3 control-label">Korekta pozycji</label>
                <div class="radio col-sm-2" >
                    <label><input type="radio"  name="korekta_poz" value="0" >nie</label>
                </div>
                <div class="radio col-sm-2">
                    <label><input type="radio"  name="korekta_poz" value="1">tak</label>
                </div>
                <p class="col-sm-12"></p>
                <label class="col-sm-3 control-label">trening ssania</label>
                <div class="radio col-sm-2" >
                    <label><input type="radio"  name="trening_ssania" value="0" >nie</label>
                </div>
                <div class="radio col-sm-2">
                    <label><input type="radio"  name="trening_ssania" value="1">tak</label>
                </div>
                <p class="col-sm-12"></p>
                <label class="col-sm-3 control-label">dokarmianie</label>
                <div class="radio col-sm-2" >
                    <label><input type="radio" name="dokarmianie" value="0" >nie</label>
                </div>
                <div class="radio col-sm-2">
                    <label><input type="radio" name="dokarmianie" value="1">tak</label>
                </div>
                <p class="col-sm-12"></p>
                <label class="col-sm-3 control-label">inne</label>
                <div class="col-sm-7">
                    <textarea class="form-control"  placeholder="zalecenia inne" name="zalecenia_inne" id="zalecenia_inne" rows="10"></textarea>
                </div>
            </div>
        </div>
    </body>
</html>
