<!DOCTYPE html>
<html>
    <body>
        <div class="form-group form-buffer-pa">
            <h2>Dane Formularza </h2>
            <div class="form-group">
                <label class="col-sm-3 control-label">Data utworzenia</label>
                <div class="col-sm-2">
                    <!--<input type="date" name="data_utworzenia" id="data_utworzenia" disabled /><!-- -->
                    <input type="text" name="data_utworzenia" id="data_utworzenia" disabled />
                </div>    

                <label class="col-sm-1 control-label">ID Wpisu</label>
                <div class="col-sm-6">
                    <div class="col-sm-3">                                
                        <input type="text" name="ID_Wpisu" id="ID_Wpisu" class="form-control" disabled> 
                    </div>
                </div>
            </div>
        </div>                      
    </body>
</html>
