<!DOCTYPE html>
<!----------------------------------------------------
* Project:     Klinika_Local
* Filename:    NyForm_10_rozpoznanie.html
* Encoding:    UTF-8
* Created:     2016-08-06
*
* Author       Bartosz M. Lewiński <jabarti@wp.pl>
------------------------------------------------------>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="form-group form-buffer-npa">
            <h2>Rozpoznanie</h2>
            <div class="form-group">
                <label class="col-sm-3 control-label">Rozpoznanie</label>
                <div class="col-sm-7">
                    <textarea class="form-control" placeholder="rozpoznanie" name="rozpoznanie" id="rozpoznanie"></textarea>
                </div>
            </div>
        </div>
    </body>
</html>
