<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="form-group form-buffer-npa">
            <p class="col-sm-12"></p>
            <label class="col-sm-3 control-label">sql</label>
            <div class="col-sm-7">
                <textarea class="form-control" name="sql" id="sql"></textarea>
            </div>
            <label class="col-sm-3 control-label">info</label>
            <div class="col-sm-7">
                <textarea class="form-control" name="info" id="info"></textarea>
            </div>
            <label class="col-sm-3 control-label">error</label>
            <div class="col-sm-7">
                <textarea class="form-control" name="error" id="error"></textarea>
            </div>
            <label class="col-sm-3 control-label">postData</label>
            <div class="col-sm-7">
                <textarea class="form-control" name="post" id="post"></textarea>
            </div>
        </div>
    </body>
</html>
